

@font-face {
  font-family: "simpson";
	 src: url(../font/simpsonfont/akbar.ttf);
}

#titre {
  font-family: "simpson";
  color: yellow;
}

body {
  background-color: black;
}

/*div {
  border: 2px;
  width: 10%;
}*/
main {
  display: flex;
  flex-wrap: wrap;
}

img:hover {
  background-color: red;
}

div {
  width: 14%;
}
div img {
  width: 100%;
}
h1 {
  text-align: center;
}

span {
  color: red;
}

@media (min-width: 768px) {

div {
  border: 2px;
  /*border-color: black;
  border-style: double;*/
  width: 14%;
  /*height: 80%;*/
}

main {
  display: flex;
  flex-wrap: wrap;
}

}
